<!-- <div>
<app-line-chart></app-line-chart>
</div> -->
<!-- <button class="primary"></button> -->
<div class="row">
  <!-- <mat-slide-toggle [checked]="isSyncEnable"></mat-slide-toggle> -->
  <input
    type="checkbox"
    [checked]="isSyncEnable"
    (change)="isSyncEnable = !isSyncEnable"
  />
  Enable sync
</div>
<hr />
<div style="display: flex; flex-direction: column">
  <app-waveform
    style="border: solid"
    [isSyncEnable]="isSyncEnable"
  ></app-waveform>
  <app-waveform2
    style="border: solid"
    [isSyncEnable]="isSyncEnable"
  ></app-waveform2>
</div>
